@use "buttons";
@use "themes/_theme-loader";
@use "containers/buttons" as container-buttons;
@use "containers/header" as container-header;
@use "containers/display" as container-display;

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 32px;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;

  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

input, button {
  font-weight: inherit;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  width: 40%;
  transform: scale(88%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
