.buttons {
  $vertical-separation: 1em;
  $horizontal-separation: 0.7em;

  border-radius: 0.3em;

  padding: $vertical-separation;

  display: grid;
  grid-gap: $vertical-separation $horizontal-separation;
  grid-template-columns: repeat(4, 1fr);

  #reset {
    grid-column: 1 / span 2;
  }

  #equals {
    grid-column: 3 / span 2;
  }
}
