// Backgrounds
$theme2-main-bg: hsl(0, 0%, 90%);
$theme2-toggle-bg: hsl(0, 5%, 81%);
$theme2-screen-bg: hsl(0, 0%, 93%);
// Keys
$theme2-primary-key-bg: hsl(185, 42%, 37%);
$theme2-primary-key-shadow: hsl(185, 58%, 25%);

$theme2-secondary-key-bg: hsl(25, 98%, 40%);
$theme2-secondary-key-shadow: hsl(25, 99%, 27%);

$theme2-ternary-key-bg: hsl(45, 7%, 89%);
$theme2-ternary-key-shadow: hsl(35, 11%, 61%);
// Text
$theme2-text-1: hsl(60, 10%, 19%);
$theme2-text-2: hsl(0, 0, 100%);
