// Backgrounds
$theme3-main-bg: hsl(268, 75%, 9%);
$theme3-toggle-bg: hsl(268, 71%, 12%);
$theme3-screen-bg: hsl(268, 71%, 12%);
// Keys
$theme3-primary-key-bg: hsl(281, 89%, 26%);
$theme3-primary-key-shadow: hsl(285, 91%, 52%);

$theme3-secondary-key-bg: hsl(176, 100%, 44%);
$theme3-secondary-key-shadow: hsl(177, 92%, 70%);

$theme3-ternary-key-bg: hsl(268, 47%, 21%);
$theme3-ternary-key-shadow: hsl(290, 70%, 36%);
// Text
$theme3-text-1: hsl(52, 100%, 62%);
$theme3-text-2: hsl(198, 20%, 13%);
$theme3-text-3: hsl(0, 0, 100%);
